.row {
  padding-left: 108px;
}

.content-wrapper {
  display: flex;
  gap: 108px;
  position: relative;
}

.page-content {
  max-width: 708px;
  flex-grow: 1;
}

.page-content-toc {
  margin-top: 90px;
  margin-bottom: 10px;
  padding: auto;
  max-width: 25%;
  min-width: 200px;
}
