@import url("https://cdn.nav.no/aksel/@navikt/ds-css/2.9.0/index.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack-subset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css");

:root {
  --divider-color: black;
  --h-margin-bottom: 24px;
  --h-margin-top: 64px;
  --default-border-radius: 4px;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

div[role="main"],
body {
  color: #000;
  font-feature-settings: "clig" off, "liga" off !important;
  font-family: Hack;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170% ;

}

footer {
  margin-top: auto;
}
.row p {
  margin-bottom: 28px;
}

ol {

  padding-left: 0;
}

ul {
  padding-left: 0.5rem;

}
li {
  list-style-position: inside;
}

.row a {
  color: #06f;
}

.row h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: var(--h-margin-bottom);
}

.row h2 {
  font-size: 32px;
  line-height: 140%;
  font-weight: 400;
  margin-top: var(--h-margin-top);
  margin-bottom: var(--h-margin-bottom);
}

.row h3 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  margin-top: var(--h-margin-top);
  margin-bottom: var(--h-margin-bottom);
}

.row h4 {
  font-size: 18px;

  font-weight: 700;
  margin-bottom: 12px;
}

/* ingress */
.row h1 + p {
  font-size: 24px;
  margin-bottom: 64px;
  line-height: 160%;
}

.row a:hover {
  text-decoration: none;
}

.row code {

  padding: 0px 6px;
  border-radius: var(--default-border-radius);
  background: #f2f3f5;
}

/* block of code */
.row pre > code {
  max-width: 100%;
  font-size: 16px;
}

.hljs-attr {
  color: #a626a4;
}

.hljs-punctuation,
.hljs-string {
  color: #383a42;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

/* table */
.row table {
  margin-top: 10px;
}

.container th {
  border-bottom: var(--divider-color) 1px solid;
  border-left: var(--divider-color) 1px solid;
  border-top: var(--divider-color) 1px solid;
  padding: 8px;
  text-align: center;
}

.container td {
  border-left: var(--divider-color) 1px solid;
  border-bottom: var(--divider-color) 1px solid;
  padding: 10px;
}

.container tr td:last-child {
  border-right: var(--divider-color) 1px solid;
}

.container tr th:last-child {
  border-right: var(--divider-color) 1px solid;
}

.container table + h4 {
  margin-top: 30px;
}
.container table + h4 + p {
  margin-top: 10px;
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
