.custom-toc {
  position: sticky;
  top: 90px;
}

.custom-toc h2 {
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
  line-height: 170%;
}

.custom-toc ul {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  line-height: 180%;
  list-style: none;
}

ul.toc-list-depth-1 {
  margin-top: 12px;
}

ul.toc-list-depth-3 {
  padding-left: 8px;
}

.custom-toc a {
  display: flex;
  padding: 2px 8px;
  margin: 0;
  color: #000;
  text-decoration: none;
}

.custom-toc a:hover {
  border-radius: 4px;
  margin-top: 2px !important;
  color: #000;
  background: #eceef0;
}

.toc-item {
  margin-top: 2px;
}

a.active {
  box-shadow: 0 0 0 1.5px #000;
  border-radius: 4px;
}

/* Ikke vise h1 i toc */
.toc-item-depth-1 {
  display: none;
}

@media screen and (max-width: 1080px) {
  .page-content-toc {
    display: none;
  }
}
