@import "~@navikt/ds-tokens";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack-subset.min.css');


:root {
    --text-blue: var(--a-deepblue-800);
    --text-blue-600: var(--a-deepblue-600);
}

/*global*/
html {
    color: var(--a-text-default);
    font-family: Hack, monospace;
    text-align: center;

}

body {
    margin: 0;
    font-size: 18px;
}

p {
    margin: 5px auto 0 auto;
}

main {
    font-weight: 400;
    letter-spacing: -0.019999999552965164px;
    text-align: center;
    padding-top: 90px;

}

h1 {
    color: var(--text-blue);
}

/*wrapper*/
.container {
    max-width: 800px;
    margin: 0 auto 0 auto;
    padding: 0;
    min-height: 800px;
}

/*navbar*/
nav {
    width: 100%;
    display: inline-flex;
    margin-top: 45px;
}

nav a,
nav a:visited {
    padding: 5px;
    margin-left: 10px;
    color: var(--text-blue);
    font-size: 16px;
}

.navbar {
    width: 100%;
    vertical-align: bottom;
    line-height: 28px;
}

.right {
    margin-right: 0;
    width: 100%;
    font-size: 18px;
    text-align: right;
}

.left {
    width: 100%;
    margin-left: 0;
    display: inline-block;
    text-align: left;
}

.left a {
    font-size: 20px;
    text-decoration: none;
}

.current,
.current:visited {
    text-decoration: none;
    color: var(--text-blue);
    font-weight: 600;
}

/*howto pages*/
.howto {
    padding: 10px;
    text-align: left;
    margin: 0 auto 0 auto;
}

.howto a {
    color: var(--text-blue);
}

.howto h1 {
    font-size: 36px;
    line-height: 52px;
}

.howto h2 {
    font-size: 28px;
    line-height: 40px;
    color: var(--text-blue);
}

.howto h3 {
    font-size: 18px;
    line-height: 24px;
    color: var(--a-text-default);
}

.howto h4 {
    color: var(--text-blue-600);
}

.howto p {
    font-size: 16px;
}

.howto p:first-of-type {
    padding-bottom: 40px;
    border-bottom: black solid 1px;
    margin-bottom: 60px;
}

.howto li {
    font-size: 16px;
}

pre {
    max-width: 400px;
    padding: 20px;
    font-size: 14px;
}

/*homepage*/
.home p {
    max-width: 400px;
}

/*footer*/
.footer {
    width: 100%;
    height: 250px;
    background-color: var(--text-blue);
    color: white;
    text-align: left;
    padding-top: 10px;
}

.footer p {
    max-width: 800px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer p:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 40px auto 12px auto;
}

#slack {
    color: var(--text-blue)
}