@import "~@navikt/ds-tokens";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack-subset.min.css');

/*default(light) theme*/

:root {
    --default-text: var(--a-text-default);
    --text-800: var(--a-deepblue-800);
    --text-600: var(--a-deepblue-600);
    --footer-color: var(--a-deepblue-800);
    --background-color: white;
    --divider-color: black;
    --cat-color: var(--background-color)

}

.lightheme pre[data-theme='dark'],
.lightheme code[data-theme='dark'] {
    display: none;
}
.lightheme pre[data-theme='light'] {
    background-color: #F7F7F7!important;
    border-radius: 12px;
}


/*dark theme*/
.darktheme pre[data-theme='light'],
.darktheme code[data-theme='light'] {
        display: none;
    }
.darktheme pre[data-theme='dark']{
    border-radius: 12px;
}


[data-theme='dark'] {
    --default-text: white;
    --text-800: var(--a-text-on-inverted);
    --text-600: var(--a-text-on-inverted);
    --background-color: var(--a-surface-inverted);
    --footer-color: black;
    --divider-color: white;
    --cat-color: var(--a-gray-600)
}


/*global*/
html {
    color: var(--default-text);
    font-family: Hack, monospace;
    text-align: center;

}

body {
    margin: 0;
    font-size: 18px;
    background-color: var(--background-color);
}

p {
    margin: 5px auto 0 auto;
}

main {
    font-weight: 400;
    letter-spacing: -0.019999999552965164px;
    text-align: center;
    padding-top: 60px;
}

h1 {
    color: var(--text-800);
}

/*wrapper*/
.container {
    max-width: 800px;
    margin: 0 auto 0 auto;
    padding: 0;
    min-height: 80vh;
}

/*navbar*/
nav {
    width: 100%;
    display: inline-flex;
    margin-top: 45px;
}

.custom-nav {
    width: 100%;
    display: inline-flex;
    margin-top: 45px;
}

nav a,
nav a:visited {
    padding: 5px;
    margin-left: 10px;
    color: var(--text-800);
    font-size: 16px;
}

.navbar {
    width: 100%;
    vertical-align: bottom;
    line-height: 28px;
}

.right {
    margin-right: 0;
    width: 100%;
    font-size: 18px;
    text-align: right;
}

.left {
    width: 100%;
    margin-left: 0;
    display: inline-block;
    text-align: left;
}

.left a {
    font-size: 18px;
    text-decoration: none;
}

.current,
.current:visited {
    text-decoration: none;
    color: var(--text-800);
    font-weight: 600;
}

/*howto pages*/
.howto {
    padding: 10px;
    text-align: left;
    margin: 0 auto 0 auto;
    max-width: 600px;
    line-height: 26px;
    font-size: 16px;
}

.howto a {
    color: var(--text-800);
}

.howto h1 {
    font-size: 36px;
    line-height: 52px;
}

.howto h1:first-letter {
    text-transform: capitalize;
}

.howto h2 {
    font-size: 24px;
    line-height: 36px;
    color: var(--text-800);
    padding-top: 32px;
}

.howto h3 {
    font-size: 18px;
    line-height: 24px;
    color: var(--text-800);
    margin-top: 44px
}

.howto h4 {
    font-weight: bold;
    color: var(--text-600);
}

.howto p:first-of-type {
    font-size: 16px;
    line-height: 26px;
}

.howto li {
    font-size: 16px;
}

pre {
    max-width: 600px;
    padding: 20px;
    font-size: 14px;
}

/*homepage*/
.home p {
    max-width: 600px;
    line-height: 28px;
}

.home img {
    margin-left: -50px;
}

.home h1 {
    margin-top: 0;
}


#kattenmin:visited,
#kattenmin {
    color: transparent;
    width: 30px;
    display: inline-block;
    margin-right: -31px;
    padding: 5px;

}

#kattenmin:hover,
#kattenmin:focus {
    padding: 5px;
    color: var(--text-800);
    font-size: 16px;
    margin-right: -31px;
}
