.howto {
    padding: 10px;
    text-align: left;
    margin: 0 auto 0 auto;
    max-width: 600px;
    line-height: 26px;
    font-size: 16px;
}

.wide {
    max-width: 700px;
}

.howto a {
    color: var(--text-800);
}

.howto h1 {
    font-size: 36px;
    line-height: 52px;
}

.howto h1:first-letter {
    text-transform: capitalize;
}

.howto h2 {
    font-size: 24px;
    line-height: 36px;
    color: var(--text-800);
    padding-top: 32px;
}

.howto h3 {
    font-size: 18px;
    line-height: 24px;
    color: var(--text-800);
    margin-top: 44px
}

.howto h4 {
    font-weight: bold;
    color: var(--text-600);
    margin-bottom: 10px;
}

.howto p {
    margin-top: 20px;
}

.howto p:first-of-type {
    font-size: 16px;
    line-height: 26px;
}

.howto p:nth-of-type(2) {
 margin-top: 50px;
}

.howto li {
    font-size: 16px;
}

.howto pre {
    max-width: 600px;
    padding: 20px;
    font-size: 14px;
}

.howto img {
    max-width: 600px;
}

/* Tables **/

.howto table {
    margin-top: 10px;
}

.howto th {
    border-bottom:var(--divider-color) 1px solid;
    border-left:var(--divider-color) 1px solid;
    border-top:var(--divider-color) 1px solid;
    padding: 8px;
    text-align: center;
}

.howto td {
    border-left: var(--divider-color) 1px solid;
    border-bottom: var(--divider-color) 1px solid;
    padding: 10px;
}

.howto tr td:last-child {
    border-right: var(--divider-color) 1px solid;

}

.howto tr th:last-child {
    border-right: var(--divider-color) 1px solid;

}

.howto table+h4 {
    margin-top: 30px;
}
.howto table+h4+p {
    margin-top: 10px;
}