.footer {
    width: 100%;
    min-height: 15vh;
    background-color: var(--footer-color);
    color: white;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer a {
    max-width: 800px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: block;
    color: white;
    margin: 5px auto 0 auto;
}

.footer h2 {
    max-width: 800px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 40px auto 15px auto;
}
