@import "styles.css";

.tms-navbar a,
.tms-navbar a:visited {
    padding: 5px;
    margin-left: 10px;
    color: var(--text-800);
    font-size: 16px;
}

footer {
    width: 100%;
    min-height: 15vh;
    background-color: var(--footer-color);
    color: white;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;

}

footer a {
    max-width: 800px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: block;
    color: white;
    margin: 5px auto 0 auto;
    text-decoration: none;
}

footer h2 {
    color: white;
    max-width: 800px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 40px auto 15px auto;
}

footer ul {
    list-style: '#';
}

.custom-toc a {
    text-decoration: none;
}

.custom-toc .bg-secondary {
    background-color: var(--background-color) !important;
}

.custom-toc .card {
    border-right: var(--divider-color) solid 0.5px;
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-bottom: none;
}


.bs-sidebar .nav > li > a.active, .bs-sidebar .nav > li > a.active {
    font-weight: bold;
}


.no-toc-page {
    max-width: 800px;
    margin: 0 auto 0 auto;
}

.tms-navbar {
    background-color: var(--background-color);
}

.tms-navbar ul {
    margin: 0 auto;
}

.tms-navbar .active-nav {
    text-decoration: none;
    color: var(--text-800);
    font-weight: 600;
}

.tms-navbar .container > a:first-child {
    text-decoration: none;
}