@import url("https://cdn.nav.no/aksel/@navikt/ds-css/2.9.0/index.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack-subset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css");
@import url("toc.css");
@import "navbar.css";
@import "search.css";
@import "footer.css";
@import "page-content.css";
@import "search-modal.css";


:root {
  --default-text: var(--a-text-default);
  --text-800: var(--a-deepblue-800);
  --text-600: var(--a-deepblue-600);
  --footer-color: var(--a-deepblue-800);
  --background-color: white;
  --divider-color: black;
  --cat-color: var(--background-color);
  --text-subtle: var(--a-text-subtle);
  --divider-color-subtle: var(--a-border-subtle);
  --list-border: var(
    --a-border-subtle
  );
  --h-margin-bottom: 24px;
  --h-margin-top: 64px;
  --default-border-radius: 4px
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

div[role="main"],
body {
  color: #000;
  font-feature-settings: "clig" off, "liga" off !important;
  font-family: Hack;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

footer {
  margin-top: auto;
}
.row p{
  margin-bottom: 28px;
}

ol {
  line-height: 30.6px;
  padding-left: 0;
}

ul {
  padding-left: 0.5rem;
  line-height: 30.6px;
}
li {
  list-style-position: inside;
}

.row h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: var(--h-margin-bottom);
}

.row h2 {
  font-size: 32px;
  line-height: 140%;
  font-weight: 400;
  margin-top: 64px;
  margin-bottom: var(--h-margin-bottom);
}

.row h3 {
  font-size: 24px;
  line-height: 120%px;
  font-weight: 400;
  margin-top: var(--h-margin-top);
  margin-bottom: var(--h-margin-bottom);
}

.row h4 {
  font-size: 18px;
  line-height: 170%;
  font-weight: 700;
  margin-bottom: 12px;
}

/* ingress */
.row h1+p{
  font-size: 24px;
  margin-bottom: 64px;
}

.row a:hover {
  text-decoration: none;
}

.row code {
  padding: 2px 5px;
  background: #eceef0f4;
  border: solid 1px #e1e4e5;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.row pre{
  max-width: 100%;
  background: #fff;
  border: solid 1px #e1e4e5;
  color: #333;
  overflow-x: auto;
  border-radius: 4px;
  background: #ECEEF0;
  font-size: 12px;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}


/* table */
.row table {
  margin-top: 10px;
}

.container th {
  border-bottom:var(--divider-color) 1px solid;
  border-left:var(--divider-color) 1px solid;
  border-top:var(--divider-color) 1px solid;
  padding: 8px;
  text-align: center;
}

.container td {
  border-left: var(--divider-color) 1px solid;
  border-bottom: var(--divider-color) 1px solid;
  padding: 10px;
}

.container tr td:last-child {
  border-right: var(--divider-color) 1px solid;

}

.container tr th:last-child {
  border-right: var(--divider-color) 1px solid;

}

.container table+h4 {
  margin-top: 30px;
}
.container table+h4+p {
  margin-top: 10px;
}

tr:nth-child(odd){
  background-color:rgba(0,0,0,0.05);
 }
